<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Services</title>
</head>

<body>
    <!-- header-navbar -->

    <header id="main-header">
        <div class="container">
            <div id="head">
                <h1>
                    <span id="web-name">
                        Acme
                    </span>
                        Web Design
                </h1>
            </div>

            <!-- navbar -->

            <nav id="navbar">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">SERVICES</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- newsletter -->

    <section id="newsletter">
        <div class="container">
            <h3>
                Subscribe To Our Newsletter
            </h3>
            <div id="field">
                <input id="ipt" type="text" placeholder="Enter Email">
                <button id="btn">Subcribe</button>
            </div>
        </div>
    </section>

    <!-- main-footer -->

    <footer id="main-footer">
        <p>
            Acme Web Design, Copyright &copy; 2022
        </p>
    </footer>

    <!-- scripts -->

    <script src="../scripts/app.js">

    </script>

</body>

</html>