<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>About</title>
</head>
<body>
    <!-- header-navbar -->
    
    <header id="main-header">
        <div class="container">
            <div id="head">
                <h1>
                    <span id="web-name">
                        Acme
                    </span>
                        Web Design
                </h1>
            </div>
    
            <!-- navbar -->
    
            <nav id="navbar">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a class="active" href="../view/about.html">ABOUT</a></li>
                    <li><a href="../view/services.html">SERVICES</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <!-- newsletter -->
    
    <section id="newsletter">
        <div class="container">
            <h3>
                Subscribe To Our Newsletter
            </h3>
            <div id="field">
                <input id="ipt" type="text" placeholder="Enter Email">
                <button id="btn">Subcribe</button>
            </div>
        </div>
    </section>

    <!-- main section -->

    <section id="main-section">
        <div class="container">
        
            <!-- article -->
        
            <section id="article">
                <div id="main-article">
                    <h3>
                        About us
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                        error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                        totam voluptatibus consequuntur consectetur at explicabo voluptate impedit
                        non minus officia repellendus.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                        error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                        totam voluptatibus consequuntur consectetur at explicabo voluptate impedit
                        non minus officia repellendus.
                    </p>
        
                    <!-- quotes -->
        
                    <div id="quotes">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                            error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                            totam voluptatibus consequuntur consectetur at explicabo voluptate impedit
                            non minus officia repellendus. Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptates, error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                            totam voluptatibus consequuntur consectetur at explicabo voluptate impedit
                            non minus officia repellendus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                            error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                            totam voluptatibus consequuntur consectetur at explicabo voluptate impedit
                            non minus officia repellendus. Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Voluptates, error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                            totam voluptatibus consequuntur consectetur at explicabo voluptate impedit
                            non minus officia repellendus.
                        </p>
                    </div>
                </div>
            </section>
        
            <!-- sidebar -->
        
            <aside id="sidebar">
                <h3>
                    What we do
                </h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                    error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                </p>
            </aside>
        </div>
    </section>

    <!-- main-footer -->
    
    <footer id="main-footer">
        <p>
            Acme Web Design, Copyright &copy; 2022
        </p>
    </footer>

    <!-- scripts -->

    <script src="../scripts/app.js">

    </script>
    
</body>
</html>