<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Services</title>
</head>

<body>
    <!-- header-navbar -->

    <header id="main-header">
        <div class="container">
            <div id="head">
                <h1>
                    <span id="web-name">
                        Acme
                    </span>
                        Web Design
                </h1>
            </div>

            <!-- navbar -->

            <nav id="navbar">
                <ul>
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="../view/about.html">ABOUT</a></li>
                    <li><a href="../view/services.html">SERVICES</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- newsletter -->

    <section id="newsletter">
        <div class="container">
            <h3>
                Subscribe To Our Newsletter
            </h3>
            <div id="field">
                <input id="ipt" type="text" placeholder="Enter Email">
                <button id="btn">Subcribe</button>
            </div>
        </div>
    </section>

    <!-- services -->

    <div class="container">
        <div id="services-article">
            <section id="services">
                <h1 style="margin-top: 20px;">
                    Services
                </h1>
                <div id="services-1">
                    <h3>
                        Website Design
                    </h3><br>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                        error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                    </p><br>
                    <p>
                        Price $ 1,000 - $ 3,000
                    </p>
                </div>
                <div id="services-2">
                    <h3>
                        Website Maintenance
                    </h3><br>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                        error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                    </p><br>
                    <p>
                        Price $250 per month
                    </p>
                </div>
                <div id="services-3">
                    <h3>
                        Website Hosting
                    </h3><br>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
                        error? Corporis dolor iste, maiores, eligendi ipsum obcaecati deleniti
                    </p><br>
                    <p>
                        Price $25 per month
                    </p>
                </div>
            </section>
        
            <!-- form quote -->
        
            <aside id="quote-form">
                <form>
                    <h3>Get A Quote</h3>
                    <label for="name" style="font-weight: 500;">
                        Name
                    </label><br>
                    <input type="text" id="name" placeholder="Name" style="padding-left: 2px; width: 100%;"><br>
                    <label for="email" style="font-weight: 500;">
                        Email
                    </label><br>
                    <input type="email" id="email" placeholder="Email" style="padding-left: 2px; width: 100%;"><br>
                    <label for="msg" style="font-weight: 500;">
                        Message
                    </label><br>
                    <textarea type="text" id="msg" rows="4" cols="21" style="resize: none; padding-left: 2px; width: 100%;" placeholder="Message"></textarea><br>
                    <input type="button" id="btn" value="Send" style="margin-top: 10px;">
                </form>
            </aside>
        </div>
    </div>

    <!-- main-footer -->

    <footer id="main-footer">
        <p>
            Acme Web Design, Copyright &copy; 2022
        </p>
    </footer>

    <!-- scripts -->

    <script src="../scripts/app.js">

    </script>

</body>

</html>